* {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
  
* {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

.header {
    background-color: #f00;
    color: #baa0a0; 
    margin: 0;
    padding: 0;
}

.nav {
    background-color: rgb(59, 59, 59);
    margin: 0;
    padding: 10px;
}

.nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}
.nav ul li {
    margin-right: 60px;
}

.nav a {
    color: #baa0a0;
}

a:visited {
    color: inherit;
}

.content {
    margin: 0;
    padding: 30px;
}

.content > img {
    margin-bottom: 20px;
    width: 55%;
    height: auto;
}

.content > h2 {
    padding-left: 80px;
    font-size: 26px;
    font-family: 'Trebuchet MS', sans-serif
}   

.content > p {
    padding-top: 25px;
    padding-left: 80px; 
    padding-right: 220px;
    font-size: 20px; 
    font-family: 'Trebuchet MS', sans-serif;
}

img {
    display: block;
    border-radius: 18px;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
}

table td {
    width: 50%;
}

table img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

ol {
    padding-left: 80px;
}

ol li {
    padding-top: 15px;
    font-size: 23px; 
    font-family: 'Trebuchet MS', sans-serif;
}

li p {
    padding-top: 15px;
    font-size: 20px; 
    font-family: 'Trebuchet MS', sans-serif;
}

li h4 {
    padding-top: 15px;
    font-family: 'Trebuchet MS', sans-serif;
}

li img {
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 55%;
    height: auto;
}

ul li {
    padding-top: 15px;
    font-size: 20px; 
    font-family: 'Trebuchet MS', sans-serif;
}