* {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
  
* {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

.header {
    background-color: #f00;
    color: #baa0a0; 
    margin: 0;
    padding: 0;
}

.nav {
    background-color: rgb(59, 59, 59);
    margin: 0;
    padding: 10px;
}

.nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}
.nav ul li {
    margin-right: 60px;
}

.nav a {
    color: #baa0a0;
}

a:visited {
    color: inherit;
}

.content {
    margin: 0;
    padding: 30px;
}

.content img {
    margin-bottom: 20px;
    width: 55%;
    height: auto;
}

img {
    display: block;
    border-radius: 18px;
    margin-left: auto;
    margin-right: auto;
}